.label-published{
    background: green;
}

.list_item{
    font-family: monospace;
    list-style-type: none;
}

.flat {
    margin: 0;
}

ul#dashboard_list,
ul#dashboard_list > span > ul {
    margin: 0 0 10px 25px;
}
