<!--
    rows:
        0) published?
        1) data submission name
        2) data submission views
        3) resource name
        4) resource url
        5) resource format
        6) last month downloads (resource)
        7) total downloads (resource)
-->
<table>
    <thead>
        <tr>
            {% for value in headers %}
                <td class="heading"><strong>{{ value }}</strong></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in data %}
        {% if row[0] != '' %}
        <tr class="dataset_name">
        {% else %}
        <tr>
        {% endif %}
            {# if it's a dataset#}
            {% if row[0] != '' %}
                <td>{{ row[0] == False }}</td>
                {% if row[1]|length > 25 %}
                    <td>{{ row[1]|truncate(25, True) }}</td>
                {% else %}
                    <td>{{ row[1] }}</td>
                {% endif %}
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            {% else %}
                {# otherwise it's a resource #}
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                {% if row[3] != '' %}
                    <td>
                    <a href="{{ row[4] }}">{{ row[3]|truncate(25, True) }}</a>
                    </td>
                {% else %}
                    <td>
                    <a href="{{ row[4] }}">{{ row[4]|truncate(25, True) }}</a>
                    </td>
                {% endif %}
                {% if row[6] >= 0%}
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
