Dear Editor?,

Below is a summary of access to {{ journal }}.

Datasets: {{ datasets }}
Total Views: {{ total_views }}
Total Downloads: {{ total_downloads }}
===
{%- for package in organization['packages'] -%}
    {%- if is_published(package['name']) %}
        {{ package['title']|truncate(35) -}}
    {% else %}
        {{ package['title']|truncate(35) -}}
    {% endif %}

    {%- set pack_stat = package_tracking(package['id']) -%}

    {% if pack_stat['total'] == 1 %} {{ pack_stat['total'] }} View{%- else %} {{ pack_stat['total'] }} Views{%- endif -%}

    {% if package['num_resources'] > 0 -%}
        {%- set summary = journal_download_summary(organization['id'], package['id'], engine_check=engine) -%}
        {%- for item in summary -%}
            {%- if summary[item]['name']|length > 21 -%}
                {%- set name = [summary[item]['name'][:9], summary[item]['name'][-9:]]|join('...') -%}
            {%- else -%}
                {%- set name = summary[item]['name'] -%}
            {%- endif -%}

            {%- if summary[item]['url']|length > 21 -%}
                {%- set url =[summary[item]['url'][:10],summary[item]['url'][-10:]]|join('.') -%}
            {%- else -%}
                {%- set url = summary[item]['url'] -%}
            {%- endif %}
            {% if summary[item]['format']|length > 0 -%}
                {{ name }} -- {{ summary[item]['total'] -}}{%- if summary[item]['total'] != "" -%}{%- if summary[item]['total']|int != 1 %} Downloads{%- else %} Download{%- endif -%}{%- else -%}0 Downloads{%- endif -%}{%- else -%}{%- if name != '' -%}{{ name }}{%- else -%}{{ summary[item]['url'] }}{%- endif -%}{%- endif -%}{%- endfor -%}
    {%- else -%}
        0 Resources
    {%- endif %}
{% endfor -%}

