{% extends "organization/read_base.html" %}
{% set organization = h.get_org(id) %}

{% block title%}Download & View Statistics{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li>
        <a href="/journals/{{ organization.name }}">{{ organization.display_name }}</a>
    </li>
    <li class="active">
        <a href="/journals/{{ organization.name }}/stats">Stats</a>
    </li>
{% endblock %}


{% block content_action %}{% endblock %}


{% block secondary_content %}
    {% set pkg = h.dara_pkg() %}
    {% with truncate=truncate or 0, url=h.url_for(controller="organization", action="read", id=organization.id) %}
        <div class="module context-info">
            <section class="module-content">
                <div class="image">
                    <a href="{{ url }}">
                        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="" />
                    </a>
                </div>
                <h1 class="heading">
                    {{ id }}
                </h1>
                {% if organization.description %}
                    <p>
                        {{ h.markdown_extract(organization.description, 180) }}
                        {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
                    </p>
                {% else %}
                    <p class="empty">{{ _('There is no description for this organization') }}</p>
                {% endif %}

                <div class="nums">
                    {% if pkg is none %}
                    <dl>
                        <dt>{{ _('Datasets') }}</dt>
                        <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ _('Resources') }}</dt>
                        <dd>{{ h.count_org_resources(organization['id']) }}</dd>
                    </dl>
                    {% endif %}
                    <dl>
                        <dt>{{ _('Total Views') }}</dt>
                        <dd>{{ h.total_views_across_journal_datasets(organization['id']) }}</dd>
                    </dl>

                    <dl>
                        <dt>{{ _('Total Downloads') }}</dt>
                        <dd>{{ h.total_downloads_journal(organization['id']) }}</dd>
                    </dl>

                </div>

            </section>
        </div>
    {% endwith %}
{% endblock %}

{% block primary_content_inner %}
    <h2 class="search-form">{{ h.SI_number_span(organization.package_count) }} datasets found</h2>

    {% block packages_list %}
        {{ h.snippet('snippets/stats_list.html', organization=organization) }}
    {% endblock %}

    <script>
        function sort_list(){
            var list = document.getElementById('dashboard_list');
            var new_list = list.cloneNode(false);
            var items = [];

            for (var i=list.childNodes.length; i--;){
                if (list.childNodes[i].nodeName==='SPAN'){
                    items.push(list.childNodes[i]);
                }
            }

            items.sort(function(a,b){
                    //console.log(a.childNodes[1].childNodes[3].innerHTML);
                    return b.childNodes[1].childNodes[3].innerHTML.localeCompare(a.childNodes[1].childNodes[3].innerHTML, undefined,{numeric:true});
                }
            );

            //
            for(var i=0; i< items.length; i++){
                new_list.appendChild(items[i]);
            }
            list.parentNode.replaceChild(new_list, list);
        }

        sort_list();


    </script>
{% endblock %}


