{% extends "organization/read_base.html" %}
{% set organization = h.get_org(id) %}

{% block title%}Download & View Statistics{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li>
        <a href="/journals/{{ organization.name }}">{{ organization.display_name }}</a>
    </li>
    <li class="active">
        <a href="/journals/{{ organization.name }}/stats">Stats</a>
    </li>
{% endblock %}


{% block content_action %}{% endblock %}


{% block secondary_content %}
    {% set pkg = h.dara_pkg() %}
    {% with truncate=truncate or 0, url=h.url_for(controller="organization", action="read", id=organization.id) %}
        <div class="module context-info">
            <section class="module-content">
                <div class="zbw-box-full">
                <div class="image">
                    <a href="{{ url }}">
                        <img class="journal_img" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="100%" alt="" />
                    </a>
                </div>

                <h1 class="heading">
                    {{ id }}
                </h1>
                {% if organization.description %}
                    <p>
                        {{ h.markdown_extract(organization.description, 180) }}
                        {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
                    </p>
                {% else %}
                    <p class="empty">{{ _('There is no description for this organization') }}</p>
                {% endif %}
                </div>

                <div class="nums">
                    {% if pkg is none %}
                    <dl>
                        <dt>{{ _('Datasets') }}</dt>
                        <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ _('Resources') }}</dt>
                        <dd>{{ h.count_org_resources(organization['id']) }}</dd>
                    </dl>
                    {% endif %}
                    <dl>
                        <dt>{{ _('Total Views') }}</dt>
                        <dd>{{ h.total_views_across_journal_datasets(organization['id']) }}</dd>
                    </dl>

                    <dl>
                        <dt>{{ _('Total Downloads') }}</dt>
                        <dd>{{ h.total_downloads_journal(organization['id']) }}</dd>
                    </dl>

                </div>

            </section>
        </div>
    {% endwith %}
{% endblock %}

{% block primary_content_inner %}
    <div class="search-form zbw-box-full" style="height: 40px;">
        <h2 style="float: left; display: inline; padding: 10px;" class="zbw-font zbw-blue">{{ h.SI_number_span(organization.package_count) }} datasets found</h2>

        <div style="float: right;" class="search-order">
            <label for="dashboard-sort" id="sort-label" style="float:left; font-size:14px; margin-top: 20px;">Sort By</label>
            <select id="dashboard-sort" style="margin-top:10px; width: 160px;">
                <option value="views">Views</option>
                <option value="pub">Published</option>
                <option value="inv">Private</option>
                <option value="rev">Review</option>
                <option value="rea">Re-Author</option>
            </select>
        </div>

    </div>

    {% block packages_list %}
        {{ h.snippet('snippets/stats_list.html', organization=organization) }}
    {% endblock %}

    <script>
        /* label-inverse: private */
        /* label-published: published */
        /* label-reauthor: reauthor */
        /* label-review: review */
        function sort_list(method){
            var list = document.getElementById('dashboard_list');
            var new_list = list.cloneNode(false);
            var items = [];

            for (var i=list.childNodes.length; i--;){
                if (list.childNodes[i].nodeName==='SPAN'){
                    items.push(list.childNodes[i]);
                }
            }

            if (method == 'views'){
                items.sort(function(a,b){
                        return b.childNodes[1].childNodes[3].innerHTML.localeCompare(a.childNodes[1].childNodes[3].innerHTML, undefined,{numeric:true});
                    }
                );
            } else {
                items.sort(function(a,b){
                    var status_chunk_a = a.childNodes[1].childNodes[1].innerHTML;
                    var index_a = status_chunk_a.indexOf("label-")
                    var status_a = status_chunk_a.slice(index_a+6, index_a+9);

                    var status_chunk_b = b.childNodes[1].childNodes[1].innerHTML;
                    var index_b = status_chunk_b.indexOf("label-")
                    var status_b = status_chunk_b.slice(index_b+6, index_b+9);

                    /* unpublished */
                    //working in FF: 0  1 -1 0
                    // FF & Chrome: -1  1  1 0
                    if (method == 'inv') {
                        return (status_a==method)?-1:(status_a>status_b)?1:(status_a<status_b)?1:0;
                    } else if (method == 'pub') {
                        return (status_a==method)?-1:(status_a>status_b)?1:(status_a<status_b)?1:0;
                    } else if (method == 'rea') {
                        return (status_a==method)?-1:(status_a>status_b)?1:(status_a<status_b)?1:0;
                    } else if (method == 'rev') {
                        return (status_a==method)?-1:(status_a>status_b)?1:(status_a<status_b)?1:0;
                    } else {
                        return (status_a=='pub') ?-1:(status_a>status_b)?1:(status_a<status_b)?1:0;
                    }
                });
            }

            //console.log(items[0].childNodes[1].childNodes[3].innerHTML);
            for(var i=0; i<items.length; i++){
                new_list.appendChild(items[i]);
            }
            list.parentNode.replaceChild(new_list, list);
        }

        /* Add sorting to `dashboard-sort` */
        document.getElementById('dashboard-sort').addEventListener("change", function(){
                if (this.value == 'pub'){
                    sort_list('rea');
                } else {
                    sort_list('pub');
                }
                sort_list(this.value);
        });

        sort_list('views');
    </script>
{% endblock %}


