{#
    Snippet for display summary information for a journal.
    Lists each dataset and each resource per dataset

    input:
        organization - dict of metadata for the organization
#}
{% resource 'journal-dashboard/dashboard.css' %}
<div class="zbw-box-full">
<h1 style="margin-bottom: 0;">
    {{ _('at a glance') }}
</h1>

<div style="margin-bottom: 30px;">
    <span class="label label-published">Published</span>
    <span class="label label-inverse">Private</span>
    <span class="label label-review flat">Review</span>
    <span class="label label-reauthor flat">Re-Author</span>
</div>
<ul id="dashboard_list">
    {% for package in organization['packages'] %}
        <span class="item">
        <li style="margin-top: 10px;">
            <strong>
                <a href='/dataset/{{ package["name"] }}'>
                    {%- if h.is_published_(package['name']) -%}
                        <span class="label label-published">{{ package['title']|truncate(35) }}</span>
                    {%- elif h.in_review(package) == 'true' -%}
                        <span class="label label-review flat">{{ package['title']|truncate(35) }}</span>
                    {%- elif h.in_review(package) == 'reauthor' -%}
                        <span class="label label-reauthor flat">{{ package['title']|truncate(35) }}</span>
                    {%- else -%}
                        <span class="label label-inverse">{{ package['title']|truncate(35) }}</span>
                    {%- endif -%}
                </a>
            </strong>
            &nbsp;&nbsp;&nbsp;
            <span class="views">
                {% set pack_stat = h.package_tracking(package['id']) %}
                {% if pack_stat['total'] == 1 %}
                    {{ pack_stat['total'] }} View
                {% else %}
                    {{ pack_stat['total'] }} Views
                {% endif %}
            </span>
        </li>
        <ul>
            {% if package['num_resources'] > 0 %}
                {% set summary = h.journal_download_summary(organization['id'], package['id']) %}
                {% for item in summary %}
                    {% if summary[item]['name']|length > 21 %}
                        {% set name = [summary[item]['name'][:9], summary[item]['name'][-9:]]|join('...') %}
                    {% else %}
                        {% set name = summary[item]['name'] %}
                    {% endif %}

                    {% if summary[item]['url']|length > 21 %}
                        {% set url =[summary[item]['url'][:10],summary[item]['url'][-10:]]|join('.') %}
                    {% else %}
                        {% set url = summary[item]['url'] %}
                    {% endif %}

                    {% if name|length < 1 %}
                        {% set spaces = "&nbsp;"* (20 - url|length) %}
                    {% else %}
                        {% set spaces = "&nbsp;"* (20 - name|length) %}
                    {% endif %}

                    <li class="list_item">{{ spaces|safe }}
                        <a href="/dataset/{{ summary[item]['package_id'] }}/resource/{{ summary[item]['id'] }}">
                            {% if summary[item]['format']|length > 0 %}
                                {{ name }}</a> &mdash;
                                {{ summary[item]['total'] }}
                                {% if summary[item]['total'] != "" %}
                                    {% if summary[item]['total']|int > 1%}
                                        Downloads
                                    {% else %}
                                        Download
                                    {% endif %}
                                {% else %}
                                    0 Downloads
                                {% endif %}
                            {% else %}
                                {% if name != '' %}
                                    {{ name }}
                                {% else %}
                                    {{ url }}
                                {% endif %}
                                </a> <a href="{{ summary[item]['url'] }}" target="_blank"></a>
                            {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                {% set spaces = "&nbsp;"* (20) %}

                <li class="list_item">{{ spaces|safe }}0 Resources</li>
            {% endif %}
        </ul>
        </span>
    {% endfor %}
</ul>
</div>
