{#
    Snippet for display summary information for a journal.
    Lists each dataset and each resource per dataset

    input:
        organization - dict of metadata for the organization
#}
{% asset 'dashboard/dashboard-css' %}
<div class="zbw-box box-full">
<h1 style="margin-bottom: 0;">
    {{ _('at a glance') }}
</h1>

<div style="margin-bottom: 30px;">
    <span class="label label-published">Published</span>
    <span class="label label-inverse">Private</span>
    <span class="label label-review flat">Review</span>
    <span class="label label-reauthor flat">Re-Author</span>
</div>
Note: Datasets with more than 10 resources are not displayed fully. Contact a site admin to request a report.
<hr>

{% set packages = organization.packages %}
{% if packages|length > 0 %}
<ul id="dashboard_list">
    {% for pack_data in packages %}
        <span class="item">
        <li style="margin-top: 10px;">
            <strong>
                <a href='/dataset/{{ pack_data.name }}'>
                    {%- if h.is_published_(pack_data.name) -%}
                        <span class="label label-published">{{ pack_data.title|truncate(35) }}</span>
                    {%- elif pack_data.state == 'reviewers' -%}
                        <span class="label label-review flat">{{ pack_data.title|truncate(35) }}</span>
                    {%- elif pack_data.state == 'reauthor' -%}
                        <span class="label label-reauthor flat">{{ pack_data.title|truncate(35) }}</span>
                    {%- else -%}
                        <span class="label label-inverse">{{ pack_data.title|truncate(35) }}</span>
                    {%- endif -%}
                </a>
            </strong>
            &nbsp;&nbsp;&nbsp;
            <span class="views">
                {% if pack_data.total_views == 1 %}
                    {{ pack_data.total_views }} View
                {% else %}
                    {{ pack_data.total_views }} Views
                {% endif %}
            </span>
        </li>
        <ul>
            {% if pack_data.resources is not none %}
            {% for resource in pack_data.resources %}
                {% if resource.name|length > 20 %}
                    {% set name = [resource.name[:9], resource.name[-9:]]|join('...')%}
                {% else %}
                    {% set name = resource.name %}
                {% endif %}

                {% if resource.url|length > 20 %}
                    {% set url = [resource.url[:10], resource.url[-10:]]|join('...')%}
                {% else %}
                    {% set url = resource.url %}
                {% endif %}

                {% if name|length < 1 %}
                    {% set spaces = "&nbsp;"* (20 - url|length) %}
                {% else %}
                    {% set spaces = "&nbsp;"* (20 - name|length) %}
                {% endif %}

                <li class="list_item">{{ spaces|safe }}
                    <a href="/dataset/{{ pack_data.id }}/resource/{{ resource.id }}">{{ name }}</a> &mdash;
                    {{ resource.total_downloads }}
                    {% if resource.total_downloads|int == 1 %}
                        Download
                    {% else %}
                        Downloads
                    {% endif %}
                </li>

            {% endfor %}
            {% else %}
                No Resources
            {% endif %}
            </ul>
            </span>
    {% endfor %}
</ul>
{% else %}
    <p class="empty">This journal has no datasets.</p>
{% endif %}
</div>
