{#
    Snippet for display summary information for a journal.
    Lists each dataset and each resource per dataset

    input:
        organization - dict of metadata for the organization
#}
{% set downloads = h.journal_resource_downloads(organization['id']) %}
{% resource 'journal-dashboard/dashboard.css' %}
<h1>
    Stats go here
</h1>

<ul id="dashboard_list">
    {% for package in organization['packages'] %}
        <span class="item">
        <li style="margin-top: 10px;">
            <strong>
                <a href='/dataset/{{ package["name"] }}'>
                     {% if h.is_published_(package['name']) %}
                        <span class="label label-published">{{ package['title']|truncate(35) }}</span>
                    {% else %}
                        <span class="label label-important">{{ package['title']|truncate(35) }}</span>
                    {% endif %}
                </a>
            </strong>
            &nbsp;&nbsp;&nbsp;
            <span class="views">
                {% if pack_stat['total'] == 1 %}
                    {{ pack_stat['total'] }} View
                {% else %}
                    {{ pack_stat['total'] }} Views
                {% endif %}
            </span>
        </li>
        <ul>
        {% if package['num_resources'] > 0 %}
            {% set downloads = h.journal_download_summary(organization['id'], package['id']) %}
            {% for item in h.get_resources(package['id']) %}
                {% if item['name']|length > 21 %}
                    {% set name = [item['name'][:9], item['name'][-9:]]|join('...') %}
                {% else %}
                    {% set name = item['name'] %}
                {% endif %}

                {% if item['url']|length > 21 %}
                    {% set url =[item['url'][:10],item['url'][-10:]]|join('.') %}
                {% else %}
                    {% set url = item['url'] %}
                {% endif %}

                {% if name|length < 1 %}
                    {% set spaces = "&nbsp;"* (20 - url|length) %}
                {% else %}
                    {% set spaces = "&nbsp;"* (20 - name|length) %}
                {% endif %}

                <li class="list_item">{{ spaces|safe }}
                    <a href="/dataset/{{ item['package_id'] }}/resource/{{ item['id'] }}">
                    {% if not h.is_dataset(item['url']) %}
                        {% if name != '' %}
                            {{ name }}
                        {% else %}
                            {{ url }}
                        {% endif %}
                        </a> <a href="{{ item['url'] }}" target="_blank"></a>
                    {% else %}
                        {{ name }}</a> &mdash;
                        {% set stats = h.match_resource_downloads(item['url'], downloads) %}
                        {% if stats %}
                            {{ stats[0] }}
                            {% if stats[0] > 1 %}
                                Downloads
                            {% else %}
                                Download
                            {% endif %}
                        {% else %}
                            0 Downloads
                        {% endif %}

                    {% endif %}
                </li>

            {% endfor %}
        {% else %}
            <li>0 Resources</li>
        {% endif %}
        </ul>
        </span>
    {% endfor %}
</ul>
